@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap');

body{
    font-family: 'Baloo Bhaijaan 2', cursive;
}

.container{
padding-left: 2rem;
}
.fluid{
    max-width: 30rem;
margin: auto;
}