@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap');

:root{
    --primary-color:#60A5FA;
}
body{
    font-family: 'Baloo Bhaijaan 2', cursive;
}

.container{
padding-left: 2rem;
}
.fluid{
    max-width: 30rem;
margin: auto;
}
hr{
    margin: 2rem 0rem;
}

.link{
text-decoration: none;
padding: 0.5rem 1rem;

}

.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
display: block;
text-align: center;
}
.link-secondary{
    color:var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    
    
}
.wobullet{
list-style: none;
}

.inline-item{
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation-container{
    background-color: var(--primary-color);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: white;
    
}

.brand{
    padding: 0.5rem ;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}
.navlink{
    color: white;
}
.inline-item .link{
    padding: 1.5rem;
    font-size: 1rem;
}
.navlist{
    text-align: right;
}
.active{
font-weight: bold;
}
.header{
    padding: 1rem;
}

.headerimg{
max-width: 25rem;
margin: auto;
display: block;
}
.heading{
    color: var(--primary-color);
font-size: 3rem;
text-align: center;
}

.section{
padding: 2rem;
}

.section>.centrecontainer>h3{
text-align: center;    
}

.centrecontainer{
    padding: 2rem;
    margin: auto;
max-width: 600px;
}

.greysection{
    background-color:#F3F4F6;
}
.footer{
    padding:1.5rem 1rem;
    background-color: var(--primary-color);
    text-align: center;
    color: white;
    border-radius: 1rem;
}
.footerheading{
    font-weight: bold;
    font-size: 1.5rem;
}
.img{
    padding: 1rem;
    height: 6rem;
    width: 6rem;
}
.imgh{
    padding: 1rem;
    height: 6rem;
    width: 6rem;
visibility: hidden;
}

.skill{
    margin-bottom  : 1rem;
    font-weight: 400;
display: flex;
align-items: center;
}

.imgsk{
    padding: 1rem;
    height: 3rem;
    width: 3rem;  
}