@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap');

:root{
    --primary-color:#60A5FA;
}
body{
    font-family: 'Baloo Bhaijaan 2', cursive;
}

.container{
padding-left: 2rem;
}
.fluid{
    max-width: 30rem;
margin: auto;
}
hr{
    margin: 2rem 0rem;
}

.link{
text-decoration: none;
padding: 0.5rem 1rem;
}

.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}
.link-secondary{
    color:var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    
}
.wobullet{
list-style: none;
}

.inline-item{
    display: inline;
    padding: 0rem 0.5rem;
}